/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
 --avatar-size: 32px;
    --background-image: url('https://raw.githubusercontent.com/Tomdula/stuff/main/WallpaperXDlite.png');
    --home-image: url('https://raw.githubusercontent.com/Tomdula/stuff/main/WingIcon.png');
    --background-solid: #3c3f41;
    --background-solid-dark: #242a31;
    --background-solid-darker: #1a1e24;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
